body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
}

p,
ul,
ol {
  line-height: 1.5rem;
}

h2 {
  border-top: 4px solid black;
  padding-top: 12px;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.graphql {
  .color-logo {
    svg path {
      fill: #ee185d;
    }
  }

  .api-toggle {
    .rest {
      background-color: #a6a6a6;

      &:hover {
        background-color: white;
      }
    }

    .graphql {
      background-color: white;
    }
  }
}
